
// Box Model
 @mixin boxModel($x) {
	*, *:before, *:after {
		-webkit-box-sizing: #{$x};
		-moz-box-sizing: #{$x};
		-o-box-sizing: #{$x};
		box-sizing: #{$x};
	}
}



@mixin Generate_Class($column-number, $key){
  @for $i from 1 through $column-number {
      .#{$key}-#{$i}{
      width:100% / $column-number * $i;
    }
  }
}



// Main Grig Mixin 
@mixin grid($boxModel, $column-number, $breakpoints){
  @if $boxModel == true {
    @include boxModel('border-box');
  }
  
  @each  $key, $value  in ($breakpoints){
    @media #{$value}{
      @include  Generate_Class($column-number, $key)
    }
  }

  
}



// Grid Set Up 
@include grid(
  $boxModel: true,
  $column-number:12,
  $breakpoints:(
  lg: '(max-width:1200px)',
  md:'(min-width:780px)'
  )
);


// containers 
@mixin containers($width) {
  
  // Modifiers.
  .container .full		{ width: 100%; max-width: $width * 1.25; min-width: $width; }
  .container .thirds			{ width: $width * 0.75; }
  .container .helf			{ width: $width * 0.5; }
  .container .quarter			{ width: $width * 0.25; }
  
  // Main class.
  .container {
  		width: $width ;
  	}
}

// this is first commit inside this file 

